version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: supplychainx-jenkins
    privileged: true
    user: root
    restart: unless-stopped
    ports:
      - "8090:8080"
      - "50000:50000"
    environment:
      - JENKINS_OPTS=--prefix=/jenkins
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
    networks:
      - scx-network

volumes:
  jenkins_home:
    driver: local

networks:
  scx-network:
    driver: bridge
